// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

/**  LOGIN   */

.custom {
	height: 300px;
}
.form-control {
	padding: 10px;
}

.card_size {
	width: 18rem;
}

.list-group-item {
	border: none;
}
