// Icons
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/solid';

// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.fa-solid {
	width: 10px;
	height: 10px;
}

/**  LOGIN   */

.title {
	font-size: 1.5rem;
    position: relative;
    color: red;
    top: 40%;
    text-align: center;
    z-index: 1;
}

.content {
	position: absolute;
	background: linear-gradient(180deg, #7fd481 4.49%, #f4e83f 39.89%);
	width: 437px;
	height: 676px;
	left: 40.4%;
}

.body{
	padding-top: 40%;
    background-color: white;
    top: 24.6%;
    position: relative;
    border-top-left-radius: 46%;
    border-top-right-radius: 44%;
    max-height: 72%;
}

.custom {
	height: 300px;
}
.form-control {
	padding: 10px;
}

.card_size {
	width: 18rem;
}

.list-group-item {
	border: none;
}
